{% extends 'contacts/base.html' %}

{% block title %}通讯录{% endblock %}

{% block content %}
    <div>
        <span><a href="/admin/contacts_list/contact/add/">添加记录</a>|</span>
        <span><a href="{%  url 'logout' %}">登出</a></span>
    </div>
<table class="table table-bordered table-hover" >
	<thead>
		<tr>
			<th>序号</th>
			<th>姓名</th>
			<th>性别</th>
			<th>职位</th>
            <th>电话</th>
            <th>ICQ</th>
            <th>Email</th>
		</tr>
	</thead>
	<tbody>
{% if contacts %}
    {% for contact in contacts %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td> <a href="{% url 'detail'  contact.id %}">{{ contact.name }}</a> </td>
            <td>{{ contact.get_sex_display }} </td>
            <td>{{ contact.get_level_display }}</td>
            <td>{{ contact.tel }}</td>
            <td>{{ contact.icq }}</td>
            <td>{{ contact.email }}</td>
        </tr>
    {% endfor %}
{% endif %}
	</tbody>
</table>
{% endblock %}


